@using System.Threading.Tasks
@model AcademicAgriculture.Entities.Concrete.OurNumber
@{
    ViewData["Page"] = "Sayı Ekle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="demo-form-wrapper">
    <form data-toggle="validator" asp-controller="OurNumber" asp-action="Add" method="post">
        <div class="form form-horizontal">
            <div class="form-group">
                <label class="col-md-3 col-sm-4 col-xs-12 control-label" for="form-control-1">Başlık</label>
                <div class="col-md-5 col-sm-8 col-xs-12">
                    <input id="first-name" class="form-control" asp-for="Title" name="Title" spellcheck="false" data-msg-required="Lütfen adınızı giriniz!" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-4 col-xs-12 control-label" for="form-control-1">Sayı</label>
                <div class="col-md-5 col-sm-8 col-xs-12">
                    <input id="first-name" type="number" class="form-control" asp-for="Number" name="Number" spellcheck="false" data-msg-required="Lütfen adınızı giriniz!" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-4 col-xs-12 control-label" for="form-control-1">Durum</label>
                <div class="col-md-5 col-sm-8 col-xs-12">
                    <select asp-for="IsActive" class="form-control">
                        <option value="true">Aktif</option>
                        <option value="false">Pasif</option>

                    </select>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3 col-xs-3 width-auto  mt-15 mr-5 ">
                <input type="submit" id="save" value="Kaydet" class="btn btn-success" />
                <a asp-action="Index" asp-controller="OurNumber" class="btn btn-danger">Vazgeç</a>
            </div>
        </div>
    </form>
</div>

