@model AcademicAgriculture.Web.Models.Blogs.BlogUpdateViewModel

@{
    ViewData["Page"] = "Haber Güncelle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="demo-form-wrapper">
    <form data-toggle="validator" asp-controller="Blog" asp-action="Update" method="post" enctype="multipart/form-data">
        <div class="form form-horizontal">
            <input type="hidden" name="Blog.Id" value="@Model.Blog.Id" />
            <input type="hidden" name="Blog.CreateDate" value="@Model.Blog.CreateDate" />

            <div class="form-group">
                <label class="col-md-3 col-sm-4 col-xs-12 control-label" for="form-control-1">Başlık</label>
                <div class="col-md-5 col-sm-8 col-xs-12">
                    <input id="first-name" class="form-control" asp-for="Blog.Title" name="Blog.Title" spellcheck="false" data-msg-required="Lütfen adınızı giriniz!" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-4 col-xs-12 control-label" for="form-control-1">Açıklama</label>
                <div class="col-md-5 col-sm-8 col-xs-12">
                    <textarea class="form-control" asp-for="Blog.Description" name="Blog.Description" spellcheck="false" data-msg-required="Lütfen adınızı giriniz!" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-4 col-xs-12 control-label" for="form-control-1">Resim adresi</label>
                <div class="col-md-5 col-sm-8 col-xs-12">
                    <input type="hidden" name="Blog.Url" value="@Model.Blog.Url" />
                    <img src="~/img/@Model.Blog.Url" width="150" />
                    <input type="file" name="file" value="" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 col-sm-4 col-xs-12 control-label" for="form-control-1">Durum</label>
                <div class="col-md-5 col-sm-8 col-xs-12">
                    <select asp-for="Blog.IsActive" class="form-control">
                        <option value="true">Aktif</option>
                        <option value="false">Pasif</option>

                    </select>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3 col-xs-3 width-auto  mt-15 mr-5 ">
                <input type="submit" id="save" value="Kaydet" class="btn btn-success" />
                <a asp-action="Index" asp-controller="Blog" class="btn btn-danger">Vazgeç</a>
            </div>
        </div>
    </form>
</div>

