<div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
        <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
                <ul class="sidenav">
                    <li class="sidenav-search hidden-md hidden-lg">
                        <form class="sidenav-form" action="/">
                            <div class="form-group form-group-sm">
                                <div class="input-with-icon">
                                    <input class="form-control" type="text" placeholder="Search…">
                                    <span class="icon icon-search input-icon"></span>
                                </div>
                            </div>
                        </form>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-newspaper-o"></span>
                                <span class="sidenav-label">Haber İşlemleri</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Haber İşlemleri</li>
                                <li><a asp-controller="Blog" asp-action="Index">Haberler</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-plus-square"></span>
                                <span class="sidenav-label">Ürün İşlemleri</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Ürün İşlemleri</li>
                                <li><a asp-controller="Product" asp-action="Index">Ürünler</a></li>
                                <li><a asp-controller="ProductCategory" asp-action="Index">Kategoriler</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-cogs"></span>
                                <span class="sidenav-label">Ayalar</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li><a asp-controller="Service" asp-action="Index">Hizmetler</a></li>
                                <li><a asp-controller="Slider" asp-action="Index">Slider</a></li>
                                <li><a asp-controller="OurNumber" asp-action="Index">Sayılarımız</a></li>
                                <li><a asp-controller="Social" asp-action="Index">Sosyal Medya</a></li>
                                <li><a asp-controller="Content" asp-action="Index">İletişim</a></li>
                                <li><a asp-controller="Reference" asp-action="Index">Referanslar</a></li>
                                <li><a asp-controller="About" asp-action="Index">Hakkımızda</a></li>
                            </ul>
                        </li>
                        <li class="sidenav-item has-subnav">
                            <a href="#" aria-haspopup="true">
                                <span class="sidenav-icon icon icon-users"></span>
                                <span class="sidenav-label">Kullanıcı İşlemleri</span>
                            </a>
                            <ul class="sidenav-subnav collapse">
                                <li class="sidenav-subheading">Kullanıcı İşlemleri</li>
                                <li><a asp-controller="Account" asp-action="Index">Kullanıcılar</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>