@model AcademicAgriculture.Web.Models.AdminCount
@{
    ViewData["Page"] = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row gutter-xs">
    <div class="col-md-6 col-lg-3 col-lg-push-0">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="media-middle media-left">
                        <span class="bg-primary circle sq-48">
                            <span class="icon icon-user"></span>
                        </span>
                    </div>
                    <div class="media-middle media-body">
                        <h6 class="media-heading">Kullanıcı Sayısı</h6>
                        <h3 class="media-heading">
                            <span class="fw-l">@Model.UserCount</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-lg-push-3">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="media-middle media-left">
                        <span class="bg-danger circle sq-48">
                            <span class="icon icon-shopping-bag"></span>
                        </span>
                    </div>
                    <div class="media-middle media-body">
                        <h6 class="media-heading">Ürün Sayısı</h6>
                        <h3 class="media-heading">
                            <span class="fw-l">@Model.ProductCount</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-lg-pull-3">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="media-middle media-left">
                        <span class="bg-primary circle sq-48">
                            <span class="icon icon-newspaper-o"></span>
                        </span>
                    </div>
                    <div class="media-middle media-body">
                        <h6 class="media-heading">Haber Sayısı</h6>
                        <h3 class="media-heading">
                            <span class="fw-l">@Model.BlogCount</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-lg-pull-0">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="media-middle media-left">
                        <span class="bg-danger circle sq-48">
                            <span class="icon icon-usd"></span>
                        </span>
                    </div>
                    <div class="media-middle media-body">
                        <h6 class="media-heading">Total Sales</h6>
                        <h3 class="media-heading">
                            <span class="fw-l">$155,352.47</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

